.anchor {
  position: relative;
  color: light-dark(var(--mantine-color-myBlack-0), var(--mantine-color-myWhite-0));
}

.anchor:hover {
  text-decoration-color: color-mix(in srgb, var(--mantine-color-myPrimary-6), transparent 100%);

  &::before {
    content: '';
    position: absolute;
    z-index: -1; /* Place it behind the text */
    left: 0%; /* Start from left edge */
    top: 50%;

    height: rem(4px); /* Set desired line height */
    background-color: var(--mantine-color-myPrimary-4); /* Your desired color */
    transform: translateY(-50%); /* Center vertically */
    animation: drawLine 0.2s ease-in-out forwards; /* Animation properties */
  }
}

@keyframes drawLine {
  from {
    width: 0; /* Start with no width */
  }
  to {
    width: 100%;
  }
}
