.inner {
    display: flex;
    justify-content: space-between;
    padding-top: calc(var(--mantine-spacing-xl));
    padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.content {
    max-width: rem(480px);
    margin-right: calc(var(--mantine-spacing-xl) * 3);

    @media (max-width: $mantine-breakpoint-md) {
        max-width: 100%;
        margin-right: 0;
    }
}

.control {
    border-width: rem(2px);
    border-color: light-dark(var(--mantine-color-myBlack-0), var(--mantine-color-white));
    font-weight: 400;
    @media (max-width: $mantine-breakpoint-xs) {
        flex: 1;
    }
}

.control:hover {
    background-color: light-dark(var(--mantine-color-myPrimary-4), var(--mantine-color-myAccent-3));
}

.image {
    width: rem(376px);
    height: rem(356px);

    @media (max-width: $mantine-breakpoint-md) {
        display: none;
    }
}

.highlight {
    position: relative;
    background-color: light-dark(var(--mantine-color-myPrimary-4), var(--mantine-color-myAccent-3));
    border-radius: var(--mantine-radius-sm);
    padding: rem(4px) rem(12px);
}
